.body-content{
	margin-top: 60px;
}

.dropdown{
	width: 70%;
}

.form-inline label{
	width:30%;
	justify-content: left;
}

.dropdown-toggle{
	overflow: hidden;
	width: 100%;
}

.card-title{
	text-align: center;
}

#search{
	margin: 10px;
}

.row{
	margin: 5px;
}

#googleMap{
	margin-left: 20%; 
	margin-right: 20%;
	height: 250px;
}

#navElements{
	width: 90%;
}

.navbar-toggler{
	margin-right: 0px;
	float: right;
}

.navbar-nav {
  flex-flow: row nowrap;
  float:left;
  width: 90%;
}



nav div ul li{
	width: 25%;
	text-align: center;
}

.navbar {
    flex-flow: row nowrap;
    display: inline-flex;
}