.body-content{
	margin-top: 100px;
	text-align: center;
}

.col-center{
	margin: auto;
	margin-bottom: 10px;
}

.dropdown-toggle{
	overflow: hidden;
	width: 100%;
}

.dropdown-menu{
	width: 100%;
}

.dropdown{
	width: 80%;
}

.form-inline{
	text-align:left;
}

#category{
	width:20%;
	justify-content: left;
}
#navElements{
	width: 90%;
}

#Fields{
	text-align: left;
}

.navbar-toggler{
	margin-right: 0px;
	float: right;
}

.navbar-nav {
  flex-flow: row nowrap;
  float:left;
  width: 90%;
}

.show{
	display: inline;
}

nav div ul li{
	width: 25%;
	text-align: center;
}

.navbar {
    flex-flow: row nowrap;
    display: inline-flex;
}