h5 {
	text-align: center;
}

h6 {
	text-align: center;
	font-size: 50px;
}

.d-block {
	max-height: 915px;
}

#card1 {
	color: #8fb4ef;
}

#card2 {
	color: #51f764;
}

#card3 {
	color: #f29f57;
}

#card4 {
	color: #f25746;
}

#etape {
	background-color: #343A40;
}

#etape p, h5{
	color: #e2dede;
}

.card-text {
	text-align: center;
}

@font-face {
  font-family: 'Elianto-Regular';
  src: url("Elianto-Regular.ttf") format('truetype');
}

h1 {
	font-family: 'Elianto-Regular';
	font-size: 100px;
	text-shadow: 2px 2px 4px black;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#navElements{
	width: 90%;
}

.navbar-toggler{
	margin-right: 0px;
	float: right;
}

.navbar-nav {
  flex-flow: row nowrap;
  float:left;
  width: 90%;
}

.show{
	display: inline;
}

nav div ul li{
	width: 25%;
	text-align: center;
}

.navbar {
    flex-flow: row nowrap;
    display: inline-flex;
}
