.body-content{
	margin-top: 100px;
	text-align: center;
}

.col-align{
	margin-bottom: 10px;
}

.dropdown-toggle{
	width: 100%;
}

.dropdown-menu{
	width: 100%;
}

.img-thumbnail{
	margin-bottom: 10px;
}

h1{
	margin: auto;
	margin-bottom: 10px;
}

#navElements{
	width: 90%;
}

.navbar-toggler{
	margin-right: 0px;
	float: right;
}

.navbar-nav {
  flex-flow: row nowrap;
  float:left;
  width: 90%;
}

.show{
	display: inline;
}

nav div ul li{
	width: 25%;
	text-align: center;
}

.navbar {
    flex-flow: row nowrap;
    display: inline-flex;
}

#btnWrap{
	text-align: center;
}

.details{
	text-align: left;
}

.body-content{
	margin-left: 40px;
}

#project_title{
	margin-left: 20px;
}

